<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Real Time Chat</title>
</head>

<body>
    <div id="v-app">
        <div class="userView">
            <p>
                <ul>
                    <li v-for="user of userList">{{user}}</li>
                </ul>
            </p>
        </div>
        <form id="chat">
            <input type="text" name="userName" placeholder="User Name" v-model="userName">
            <div class="messages">
                <p>
                    <ul>
                        <li v-for="msg of messages">{{`${msg.userName} => ${msg.text}`}}</li>
                    </ul>
                </p>
            </div>
            <input name="message" :disabled="userName == ''" placeholder="Type your message!!" v-model="text">
            <button type="submit" :disabled="userName == ''" @click.prevent="sendMessage()">send</button>
        </form>
        {{userList}}
    </div>

    <script>
        var app = new Vue({
            el: "#v-app",
            data: {
                userName: "",
                socket: null,
                title: "WebSockets",
                text: "",
                messages: [],
                userList: []
            },
            methods: {
                sendMessage() {
                    this.socket.emit("msgToServer", {
                        text: this.text,
                        userName: this.userName
                    })
                    this.text = ""
                },
                receiveMessage(msg) {
                    this.messages = msg
                },
                usersList(msg) {
                    this.userList = msg
                }
            },
            mounted() {
                this.socket = io('http://localhost:3000')
                this.socket.on("msgToClient", msg => {
                    this.receiveMessage(msg)
                })
                this.socket.on("usersList", msg => {
                    this.usersList(msg)
                })
            }
        })
    </script>
</body>

</html>